<style>
    div.a {
        text-align: center;
    }
</style>

<div class="a"><h1> Create VM using POST API </h1> </div>

<form #userPost="ngForm" (ngSubmit)="onSubmit(userPost.value)">
    <b>Enter Location :- </b><input type="text" name="location" ngModel placeholder=""> <br><br>
    <b>Enter Subscription id :- </b><input type="text" name="sub_id" ngModel placeholder=""> <br><br>
    <b>Enter Computer Name :- </b><input type="text" name="computerName" ngModel placeholder=""> <br><br>
    <b>Enter Admin UserName :- </b><input type="text" name="adminUsername" ngModel placeholder=""> <br><br>
    <b>Enter Admin Password :- </b><input type="password" name="adminPassword" ngModel placeholder=""> <br><br>
    <b>Enter Network Interface :- </b><input type="text" name="networkInterface" ngModel placeholder=""> <br><br>
    <b>Enter Disk Name :- </b><input type="text" name="diskName" ngModel placeholder=""> <br><br>
    <button type="submit"> Create VM </button>
</form>