<h1>Call Post API in Angular</h1>
<form #userPost="ngForm" (ngSubmit)="onSubmit(userPost.value)">
    <p><b>Enter Location</b></p><input type="text" name="location" ngModel placeholder=""> <br><br>
    <p><b>Enter Subscription id</b></p><input type="text" name="sub_id" ngModel placeholder=""> <br><br>
    <p><b>Enter Computer Name</b></p><input type="text" name="computerName" ngModel placeholder=""> <br><br>
    <p><b>Enter Admin UserName</b></p><input type="text" name="adminUsername" ngModel placeholder=""> <br><br>
    <p><b>Enter Admin Password</b></p><input type="password" name="adminPassword" ngModel placeholder=""> <br><br>
    <p><b>Enter Network Interface</b></p><input type="text" name="networkInterface" ngModel placeholder=""> <br><br>
    <p><b>Enter Disk Name</b></p><input type="text" name="diskName" ngModel placeholder=""> <br><br>
    <button type="submit">Create VM</button>
</form>